---
- name: Set up kubeadm on master
  diff: true
  gather_facts: true
  check_mode: true
  hosts: master
  roles: master

- name: Set up kubeadm on workers
  diff: true
  gather_facts: true
  check_mode: true
  hosts: workers
  roles: workers

